form {
  font-size: 16px;
}

input, select, textarea {
  font-size: 1.6rem;
  @apply flex border border-gray-500 px-6 py-4 w-full;
  &::placeholder {
    @apply text-gray-400;
  }
  &::-ms-input-placeholder {
    @apply text-gray-500;
  }
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  @extend .ft-0;
  @apply flex p-4 border border-black w-full text-center justify-center items-center cursor-pointer;
}
input[type=radio]:checked + label {
  @apply bg-brand-1;
}

select {
  appearance: none;
  border-radius: 0;
  &::-ms-expand {
    display: none;
  }
  & option:disabled {
    @apply text-gray-500;
  }
  &:invalid {
    @apply text-gray-500;
  }
  &[disabled] {
    @apply text-gray-500;
  }
}

.select {
  position: relative;
  &::after {
    font-size: 1.4rem;
    display: block;
    position: absolute;
    right: 1rem;
    top: 25%;
    content: "expand_more";
    font-family: "Material Icons";
    color: black;
  }
}

.survey-card {
  @apply bg-white sticky top-20 flex flex-col min-h-[60vh] lg:min-h-[40vh] w-full max-w-[80rem] p-8 border border-black;
}